* {
  margin: 0;
  padding: 0;
  font-family: 'Patrick Hand', cursive;
  letter-spacing: 0.03em;
}

html {
  height: 100%;
  background: radial-gradient(circle, #00FFFF, rgb(154, 115, 250));
}

h1 {
  text-align: center;
  padding: 10px;
  font-size: 1.75em;
}

ul {
  list-style: none;
}

.container {
  opacity: 0.9;
  margin: 100px 3%;
  width: 94%;
  border-radius: 15px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

input {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  opacity: 0.8;
  border: none;
  font-size: 1.2em;
  padding-left: 10px;
}

input:focus {
  outline: none;
  border: 5px solid #47BDFC;
  opacity: 1;
}
h3 {
  font-size: 1.1em;
}
h3:nth-child(2n) {
  left: 41%;
  position: absolute;
}
h3:last-child {
  position: absolute;
  right: 6%;
}

.bottom {
  width: 94%;
  display: flex;
  flex-wrap: wrap;
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  padding: 3%;
}

input, li {
  cursor: pointer;
}

li {
  width: 100%;
  font-size: 1.2em;
  background: rgba(0, 0, 0, 0.1);
  height: 35px;
  line-height: 35px;
}

li:nth-child(2n) {
  background: rgba(0, 0, 0, 0.2);
}

ul span {
  height: 35px;
  width: 0;
  background: #9BE58A;
  color: white;
  float: left;
  text-align: center;
  opacity: 0;
  margin-right: 15px;
  transition: 0.3s linear;
}

li:hover span {
  opacity: 1.0;
  width: 35px;
}

.completed {
  text-decoration: line-through;
  color: darkgray;
}

@media only screen and (min-width: 750px) {
  .container {
    width: 700px;
    margin: 100px auto;
  }
}

@media only screen and (min-width: 400px) {
  h1 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 550px) {
  h1 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 1.5em;
  }
  h3:nth-child(2n) {
    left: 225.078px;
  }
  h3:last-child {
    right: 20px;
  }
  input {
    height: 50px;
  }
  input, li {
    font-size: 1.5em;
  }
  li {
    height: 45px;
    line-height: 45px;
  }
  .bottom {
    position: relative;
    margin: 0 auto;
    padding: 15.5px;
    width: 486px;
  }
  ul span {
    height: 45px;
  }
  li:hover span {
    width: 45px;
  }
}
